.btn {
    background-color: rgb(21, 24, 197);
    color: #ffffff;
    display: inline-block;
    border-radius: 30px;
    padding: 10px 20px;
    text-decoration: none;
    transition: ease .5s all;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(20, 2, 189);
}

.btn.orange {
    background-color: #3936fe;
}

.btn.orange:hover {
    background-color: black;
}